chef-effortless/.bundle/
chef-effortless/.rspec
chef-effortless/.ruby-version
chef-effortless/coverage/
chef-effortless/db/*.sqlite3
chef-effortless/db/schema.rb
chef-effortless/lib/tasks/
chef-effortless/log/
chef-effortless/tmp/
chef-effortless/vendor/bundle
