<!--  This file is app/views/movies/index.html.erb -->
<h2>Welcome to Chef Effortless</h2>

<%= link_to "Check your ingredient", ingredients_path, :class => 'btn btn-primary' %>
<%= link_to 'Customized recipe ', recipes_path, :class => 'btn btn-primary' %>
