<!--  This file is app/views/movies/index.html.erb -->

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Add more ingredients or explore new recipes!</p>
<%= link_to "Ingredient", ingredients_path, :class => 'btn btn-primary' %>
<%= link_to "Recipe",recipe_index_path, :class => 'btn btn-primary' %>
  </div>
</div>



