
<div class="hero_image" class="d-flex align-items-center " style="height:700px; width: 100%;border:1px solid black; background-image: url(<%= 'https://source.unsplash.com/Q7PclNhVRI0' %>);background-size: cover;background-position: center;background-attachment:fixed;
    overflow:scroll;">
<% if @recipes.empty? %>
<div class="d-flex align-items-center">
<h2>Sorry, we could not find the recipe you want :(</h2>
</div>
<% else %>
<table class="table table-striped col-md-12 align-self-center ml-4 mt-3" id="ingredients" style="width: 100%;">
  <thead>
    <tr>
      <th>Available Recipe</th>
      <th>Details</th>
      <th>Steps</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each_with_index do |recipe, idx| %>
      <tr>
        <td>
          <%= recipe[0]%>
        </td>
        <td>
          <%= link_to "details", recipe_detail_path(recipe[1]), :class => 'btn btn-secondary' %>
        </td>
        <td>
          <%= link_to "steps", recipe_show_path(recipe[1]), :class => 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>

