<h2>
    <%= @obj['title'] %>
<h2>

<div>
    <%= image_tag(@obj['image']) %>
</div>

<h3> Steps </h3>
<div>
<table class="table table-striped col-md-12" id="used">
  <tbody>
    <% @step[0]['steps'].each do |item| %>
      <tr>
        <td>
          <%= item['step'] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>